.chat-in {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

/* message wrapper */
.chat-message-wrap {
  height: calc(100vh - var(--header-height));
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Responsive  */
@media (max-width: 1023px) {
  .chat-in {
    grid-template-columns: 1fr;
  }
}
